<settings>
  <servers>
        <server>
            <id>artifactory.release</id>
            <username>ci_domainplatform</username>
            <password>4Lf6awMnzTX9TdVA</password>
        </server>
        <server>
            <id>artifactory.snapshot</id>
            <username>ci_domainplatform</username>
            <password>4Lf6awMnzTX9TdVA</password>
        </server>
        <server>
            <id>platform-site</id>
            <username>maven</username>
        </server>
        <server>
            <id>edc-site</id>
            <username>maven</username>
        </server>
  </servers>
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>repo</name>
      <url>https://artifactory.secureserver.net/artifactory/repo</url>
      <id>artifactory.release</id>
    </mirror>
  </mirrors>
  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>artifactory.release</id>
          <name>repo</name>
          <url>https://artifactory.secureserver.net/artifactory/repo</url>
        </repository>
        <repository>
          <snapshots />
          <id>artifactory.snapshot</id>
          <name>repo</name>
          <url>https://artifactory.secureserver.net/artifactory/repo</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>artifactory.release</id>
          <name>repo</name>
          <url>https://artifactory.secureserver.net/artifactory/repo</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>artifactory.snapshot</id>
          <name>repo</name>
          <url>https://artifactory.secureserver.net/artifactory/repo</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
</settings>